PORT=5000

MONGO_URI=mongodb://poojanpatel1595_db_user:OwEXhC2QBpfCDdsU@ac-tta0zkp-shard-00-00.zbo0qne.mongodb.net:27017,ac-tta0zkp-shard-00-01.zbo0qne.mongodb.net:27017,ac-tta0zkp-shard-00-02.zbo0qne.mongodb.net:27017/?ssl=true&replicaSet=atlas-ck2pqk-shard-0&authSource=admin&appName=lumos

JWT_SECRET=

CLOUDINARY_CLOUD_NAME=

CLOUDINARY_API_KEY=

CLOUDINARY_API_SECRET=

RAZORPAY_KEY_ID=

RAZORPAY_KEY_SECRET=